<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container">
      <h2>Mongo Resultsssssssss</h2>

      <% relational_database.forEach(function(object) { %>
      <ul>
        <li><%= relational_database %></li>

        <li><%= object %></li>
        <li><%= object.name %></li>
        <li><%= object.description %></li>
        <li><%= object.text %></li>
        <li><a href=""> <%= object.external_link %> </a></li>
      </ul>
      <% }); %>
    </div>

    <script></script>
  </body>
</html>
