<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container">
      <h2>Mongo Resultsssssssss</h2>

      <ul>
        <li><%= relational_database %></li>

        <% relational_database.forEach(function(article) { %>

        <li><%= article %></li>
        <li><%= article.name %></li>
        <li><%= article.description %></li>
        <li><%= article.text %></li>
        <li><a href=""> <%= article.external_link %> </a></li>

        <% }); %>
      </ul>
    </div>

    <script></script>
  </body>
</html>
